<app-header></app-header>
<ion-content [fullscreen]="true" class="ion-padding">
  <div class="page-container">
    <div class="main-page background-color-theme-black">
      <div class="section background-color-theme-black">
        <div class="container-header-text">
          <h1 class="header-text color-theme-2">Perceptual Distance of Colors</h1>
        </div>
        <div class="subsection">
          <!-- <app-image></app-image> -->
          <p>
            Originally, this was posed as a question from my brother, Andrew Pruim. 
            He was interested in exploring the distance between colors and 
            how it can be correlated to different adjectives in graphic design. This was the first mock of just calculating distance between the Colors
          </p>
          
          <p> A professor and associate dean at Calvin
            University, Penny has written books and articles, textbooks, and resources
            that get used nationwide. But her family appreciates most the 3 ½ family
            cookbooks, the children’s novels that each child got growing up, and the decades of good homecooked meals.
          </p>
        </div>
      </div>
    </div>
  </div>
</ion-content>